<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title|upper }}</title>
        {% else %}
        <title>EDGE Live</title>
        {% endif %}

        <meta name="description" content="EDGE Research Lab's Live tracking site based on GPS data with a live feed" />
        <meta name="keywords" content="EDGE Research Lab, Scientific Research, Live Tracking, Development" />
        <meta name="author" content="Matt Rasband; David Hughes" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="-1" />

        <link rel="shortcut icon" type="shortcut icon" href="{{ url_for('static', filename='img/hot44.png') }}" />

        {% if is_mobile %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}" />
        {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        {% endif %}
        
        {% if js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7vrJH7vkDVOYp0mXB26VY7mSIR0qckhs&sensor=false&libraries=geometry"></script>
        <script src="{{ js }}"></script>
        {% endif %}
    </head>
    <body>
        {% block page %}
        {% endblock %}
    </body>
</html>
